.thumbnails {
  overflow: hidden !important;
  overflow-x: scroll !important;
  padding-bottom: 10px;
}

.thumbnails::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.thumbnails::-webkit-scrollbar {
  display: inline !important;
  width: 12px;
  height: 9px;
  background-color: #bbb;
  border-radius: 10px;
}

.thumbnails::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #717171;
}
